<!DOCTYPE html>
<html>
<head>
    <title>Village Greens - Unsubscribe Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resoures/images/favicon.ico" rel="shortcut icon" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
	<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/font-awesome.css}" />
	<link href="../../../resources/css/ionicons.min.css" rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/ionicons.min.css}" />
    <link href="../../../resources/css/AdminLTE.css" rel="stylesheet" media="screen" th:href="@{/resources/css/AdminLTE.css}"/>
    <!-- jQuery 2.2.4 -->
    <script src="../../../resources/js/jquery-2.2.4.min.js" th:src="@{/resources/js/jquery-2.2.4.min.js}"></script>
    <script src="../../../resources/js/jquery.slimscroll.min.js" th:src="@{/resources/js/jquery.slimscroll.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body class="skin-village-green">
<div th:replace="fragments/bare-header :: bare-header">Header</div>
	<!-- a little space under the header -->
	<div class="row">
	<p>&nbsp;</p>
	</div>
<div class="container">
    <div class="text-center">
        <h1>Sorry to see you go!</h1>
        <p class="lead">
            Village Greens has received and actioned your instruction to unsubscribe from emails containing updates about the shop, events and other marketing communications.
        </p>
        <p class="lead">
            If you did not intend to unsubscribe at this time, please <a th:href="@{'/email/c/l/' + ${listSubscriberUuid}}">click here to provide your consent</a> to continue to receive updates about the shop, events and other marketing communications by email.
        </p>
        <p class="lead">
            For more details about Village Greens, please visit our main website at <a href="http://www.village-greens-coop.co.uk">https://www.village-greens-coop.co.uk</a>.
        </p>
    </div>
</div>
</body>
</html>