<!DOCTYPE html>
<html>
<head>
    <title th:text="#{coop.title} + ' - ' + #{signup.title}">Reset Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
	<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/font-awesome.css}" />
	<link href="../../../resources/css/ionicons.min.css" rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/css/ionicons.min.css}" />
    <link href="../../../resources/css/AdminLTE.css" rel="stylesheet" media="screen" th:href="@{/resources/css/AdminLTE.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body class="skin-village-green">
<div th:replace="fragments/header :: header">Header</div>
	<!-- a little space under the header -->
	<div class="row">
	<p>&nbsp;</p>
	</div>
<form class="form-narrow form-horizontal" method="post" th:action="@{/resetPassword}" th:object="${passwordResetForm}">
    <!-- /* Show general error message when form contains errors */ -->
    <th:block th:if="${#fields.hasErrors('${passwordResetForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='There is a problem with some of the information you provided.  Please amend the marked fields, and try again.')">Alert</div>
    </th:block>
    <fieldset>
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{key}" />
    	
        <legend>Prestwich Village Greens Members Site - Update Your Details</legend>
        <p>Please enter your new password below</p>
        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
            <label for="firstName" class="col-md-4 control-label">First Name</label>
            <div class="col-md-8">
                <input readonly="readonly" tabindex="-1" type="text" class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}" />
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Please supply a value</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-error'">
            <label for="surname" class="col-md-4 control-label">Surname</label>
            <div class="col-md-8">
                <input readonly="readonly" tabindex="-1" type="text" class="form-control" id="surname" placeholder="Surname" th:field="*{surname}" />
                <span class="help-block" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Please supply a value</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
                <input readonly="readonly" tabindex="-1" type="text" class="form-control" id="email" placeholder="Email address" th:field="*{email}" />
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password" class="col-md-4 control-label">Password</label>
            <div class="col-md-8">
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('repeatPassword')}? 'has-error'">
            <label for="repeatPassword" class="col-md-4 control-label">Repeat password</label>
            <div class="col-md-8">
                <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password" th:field="*{repeatPassword}"/>
                <span class="help-block" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">Incorrect repeat password</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <p>Remembered your details? <a href="signin" th:href="@{/signin}">Sign In</a></p>
            </div>
        </div>
    </fieldset>
</form>
<script>
$( document ).ready(function() {
    $('#password').focus();
});	
</script>
</body>
</html>