<!DOCTYPE html>
<html>
<head>
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/AdminLTE.css" rel="stylesheet" media="screen" th:href="@{/resources/css/AdminLTE.css}"/>
</head>
<body>
		    <!-- Left side column. contains the logo and sidebar -->
		<aside class="left-side sidebar-offcanvas" th:fragment="admin-sidebar(activeMenu, activeSubmenu)">
		    <!-- sidebar: style can be found in sidebar.less -->
		    <section class="sidebar">
		        <!-- Sidebar user panel -->
<!-- 		        <div class="user-panel">
		            <div class="pull-left image">
		                <img th:src="@{/resources/img/avatar3.png}" src="/resources/img/avatar3.png" class="img-circle" alt="User Image" />
		            </div>
		            <div class="pull-left info">
		                <p>Hello, Jane</p>
		
		                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		            </div>
		        </div>
 -->		        <!-- search form -->
<!-- 		        <form action="#" method="get" class="sidebar-form">
		            <div class="input-group">
		                <input type="text" name="q" class="form-control" placeholder="Search..."/>
		                <span class="input-group-btn">
		                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
		                </span>
		            </div>
		        </form>
 -->		        <!-- /.search form -->
		        <!-- sidebar menu: : style can be found in sidebar.less -->
		        <ul class="sidebar-menu">
		            <li class="active" th:class="${activeMenu == 'dashboard'} ? 'active'">
		                <a th:href="@{/admin/dashboard}" href="dashboard">
		                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
		                </a>
		            </li>
		            <li class="treeview"
		            	th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
		            	th:class="${activeMenu == 'members'} ? 'treeview active' : 'treeview'" >
   		                <a href="#">
							<i class="fa fa-user"></i>
							<span>Members</span>
							<i class="fa fa-angle-down pull-right"></i>
	   	                </a>
						<ul class="treeview-menu">
							<li th:class="${activeSubmenu == 'NEW'} ? 'active'">
								<a th:href="@{/admin/addMember}" href="newMember.html">
									<i class="fa fa-angle-double-right"></i>Add Member
								</a>
							</li>
							<li th:class="${activeSubmenu == 'ALL'} ? 'active'">
								<a th:href="@{/admin/allMembers}" href="allMembers.html">
									<i class="fa fa-angle-double-right"></i><span>All Members</span>
									<small class="badge pull-right alert-info"
										th:text="${dashboard.allMembers}">400</small>
								</a>
							</li>
							<li th:class="${activeSubmenu == 'FULL'} ? 'active'">
								<a th:href="@{/admin/fullMembers}" href="fullMembers.html">
									<i class="fa fa-angle-double-right"></i><span>All Full Members</span>
									<small class="badge pull-right alert-success"
										th:text="${dashboard.fullMembers}">400</small>
								</a>
							</li>
							<li th:class="${activeSubmenu == 'CERTIFIABLE'} ? 'active'">
								<a th:href="@{/admin/certifiableMembers}" href="certifiableMembers.html">
									<i class="fa fa-angle-double-right"></i><span>Certifiable Members</span>
									<small class="badge pull-right alert-warning"
										th:text="${dashboard.certifiableMembers}">400</small>
								</a>
							</li>
							<li th:class="${activeSubmenu == 'PART'} ? 'active'">
								<a th:href="@{/admin/partialMembers}" href="partialMembers.html">
									<i class="fa fa-angle-double-right"></i><span>Part-paid Members</span>
									<small class="badge pull-right alert-warning"
										th:text="${dashboard.partMembers}">400</small>
								</a>
							</li>
							<li th:class="${activeSubmenu == 'UNPAID'} ? 'active'">
								<a th:href="@{/admin/unpaidMembers}" href="unpaidMembers.html">
									<i class="fa fa-angle-double-right"></i><span>Unpaid Members</span>
									<small class="badge pull-right alert-danger"
										th:text="${dashboard.unpaidMembers}">400</small>
								</a>
							</li>
							<li th:class="${activeSubmenu == 'OVERDUE'} ? 'active'">
								<a th:href="@{/admin/overduePayments}" href="overduePayments.html">
									<i class="fa fa-angle-double-right"></i><span>Overdue Members</span>
									<small class="badge pull-right alert-danger"
										th:text="${dashboard.overdueMembers}">400</small>
								</a>
							</li>
						</ul>
		            </li>
		            <li class="active" 
		            	th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
		            	th:class="${activeMenu == 'emails'} ? 'active'">
		                <a th:href="@{/admin/emails}" href="emails">
		                    <i class="fa fa-envelope"></i> 
		                    <span>Email Templates</span>
		                    <small class="badge pull-right alert-info"
		                    	th:text="${dashboard.stockEmailCount}">1</small>
		                </a>
		            </li>
		            <li class="active" 
		            	th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
		            	th:class="${activeMenu == 'emails'} ? 'active'">
		                <a th:href="@{/admin/documents}" href="documents">
		                    <i class="fa fa-file"></i> 
		                    <span>Member Documents</span>
		                    <small class="badge pull-right alert-info"
		                    	th:text="${dashboard.documentCount}">1</small>
		                </a>
		            </li>
		            <li>
		                <a href="surveys">
		                    <i class="fa fa-bar-chart-o"></i> <span>Surveys</span>
		                </a>
		            </li>
		            <li>
		                <a href="pages/calendar.html">
		                    <i class="fa fa-calendar"></i> <span>Calendar</span>
		                    <small class="badge pull-right bg-red">3</small>
		                </a>
		            </li>
		        </ul>
		    </section>
		    <!-- /.sidebar -->
		</aside>
</body>
</html>